<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.epichust.notification">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application>
        <activity
            android:name=".NotificationWindowActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/MyStyle">
        </activity>

        <!--<receiver
            android:name=".NotificationWindowReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="com.epichust.notification.WAKE" />
            </intent-filter>
        </receiver>-->
    </application>

</manifest>