<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuanbao.moduleuhf_i6310">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="com.example.uhf.activity.UHFMainActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>